//**
// Project Settings
//**

// Consistent settings
$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 40px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.





// Responsive breakpoints
$small-break: 480px;
$big-break: 780px;





// Better default colors
// Cool
$aqua:  #7fdbff;
$blue:  #0074d9;
$navy:  #001f3f;
$teal:  #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime:  #01ff70;
// Warm
$yellow:  #ffdc00;
$orange:  #ff851b;
$red:     #ff4136;
$fuchsia: #f012be;
$purple:  #b10dc9;
$maroon:  #85144b;
// Gray Scale
$white:  #fff;
$silver: #ddd;
$grey:   #aaa;
$black:  #111;





// Project color variables
$primary-color: #1271db;
$secondary-color: #233e5b;
$tertiary-color: #aaa;
$wildebeest-color: #666;





$danger-color: $red; // Bad color for errors, validation etc.
$success-color: $green; // Good color for success etc.
$info-color: $blue; // Good color for success etc.
$warning-color: $orange; // Good color for success etc.
$subtle-color: $grey; // Subtle color for subtle text




// WILDEBEEST BASE FONTS
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("../fonts/roboto/Roboto-Condensed.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: "RobotoSlab-Thin";
  src: url("../fonts/roboto-slab/RobotoSlab-Thin.ttf");
}

@font-face {
  font-family: "RobotoSlab-Light";
  src: url("../fonts/roboto-slab/RobotoSlab-Light.ttf");
}

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/roboto-slab/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/roboto-slab/Roboto-Bold.ttf");
}

$Roboto-Thin: "Roboto-Thin"; 
$Roboto-Light: "Roboto-Light"; 
$Roboto-Medium: "Roboto-Medium"; 
$Roboto-Regular: "Roboto-Regular"; 
$Roboto-Bold: "Roboto-Bold"; 
$Roboto-Condensed: "Roboto-Condensed"; 
$Roboto-Black: "Roboto-Black"; 
$RobotoSlab-Thin: "RobotoSlab-Thin"; 
$RobotoSlab-Light: "RobotoSlab-Light"; 
$RobotoSlab-Regular: "RobotoSlab-Regular"; 
$RobotoSlab-Bold: "RobotoSlab-Bold"; 



